<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title>Patient Similarity</title>

  <style>
    #form-float {
      border: none;
      margin: 0px;
        padding: 0px;
          font-size: 30px;
                box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -moz-transition: none;
          -webkit-transition: none;

    }
    
    body {
      padding-top: 90px;

    }


  </style>
</head>
<body>


    <div class="row">

      <div class="col-md-6 col-md-offset-3">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand">Patient Similarity</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                 <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-search fa-lg"></i>
                  </a> -->
                </li>
              </ul>
            </div>


        </div>
        </div> 
        
        <!-- <input class="form-control" id="form-float" placeholder="Enter a Patient ID"/> -->
         <form action="/predictor" method="POST">
     <!--    <input type="text" name="text">
        <input type="submit" name="my-form" value="Send"> -->
        <input class="form-control" name="text"  id="form-float" placeholder="Enter a Cancer Cell Line ID"/>
    </form>

        <br>
        <br> 

       

        <span style="color: #0000ff;"><a href="{{url_for('static', filename='genes.csv')}}" download>Genes Used</a></span>
         <span style="color: #0000ff;"><a href="{{url_for('static', filename='cell_lines.csv')}}" download>Cell Lines</a></span>

<a data-toggle="modal" href="#myModal" style="padding-left: 15p;">Help</a>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Directions</h4>
        </div>
        <div class="modal-body">
          <ul> 1. Enter the Cancer Cell Line </ul>
          <ul> 2. The top 5 cancer cell lines based on number of similar mutations will be displayed</ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
      <div class="container">

      {% if patient %}
      <h1> Results for {{patient}} </h1>
      {% endif %}
      </div>

      <table class="table table-bordered">
      <thead>
        <tr>
          <th> Cell Line </th>
          <th> Number of Mutations </th>
        </tr>
        </thead>
      <tbody>
      {% for item in patient_names%}
        <tr>
        <td>{{patient_names[loop.index0]}}</td>
        <td>{{mutation_count[loop.index0]}}</td>
        </tr>
      {% endfor %}
    
    </tbody>
    </table>

    </div>

</body>





</html>
