<html>
{{ JSGlue.include() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='js/lodash.js') }}"></script>

   <script src="{{url_for('static', filename='js/lodash.js') }}"></script>
  <!-- //  <script src="js/taffy.js"></script> -->
  <script src="{{url_for('static', filename='js/pouchdb-3.6.0.min.js') }}"></script>
   <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="{{url_for('static', filename='js/papaparse.min.js') }}"></script>



{{flask_util_js.js}}

        <!-- // <script src="js/sql.js"></script> -->
        <script src="{{url_for('static', filename='js/parser.js') }}"></script>

<style>


{{flask_util_js.js}}


#searchForm {
                position: absolute;
                top: -180;
                padding: 2%;
                margin: 10em;
                width: 20em;
            }

            .godBox {
                width: 80%;
                font-size: 160%;
                outline: none;
                border: 2px black solid;
                /*background-color: rgba(0,0,0,0.3);*/
                color: black;
            }
.results{
 	margin-left: 10cm;
 }
 .hero-unit {
padding:50px 50px 50px 50px;
    }
.hero-unit{
text-align: center;
  }

.button,
button,
input[type=button],
button[type=submit] {
}


.input {
    text-align: center;
    margin-left: 90px;
}
.descrip {
  margin-top: -20px;
}
.patinfo {
  text-align:center;
  margin-top:50px;
  margin-left:65px;
}



 </style>



<!-- <h1> Let's search </h1>

<div>

<form id="searchForm" action="javascript:time()">
            <div class="input-group">
                <input type="text" id="searchItem" class="godBox" placeholder="Query?">

            </div>
            <div id="info"></div>
            <div id="error"></div>
        </form>
</div> -->
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">BioTool</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="index.html"><i class="material-icons">group</i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">

    <h1 class="header center green-text">Patient Similarity</h1>
      <h5 class="descrip center">A tool to find similar patients.</h5>
    <br> </br>

<div class="input area" id="input-local" style="display:block;">
<input type="file" id="files" multiple>
<br> </br>
</div>
</div>

<!-- <form action="#">
    <div class="file-field input-field center">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>File</span>
        <input type="file" />
      </div>
    </div>
  </form> -->

<div class="center">

 <!-- <button id="submit" class="green">Find Similarities</button> -->

<button class="btn waves-effect waves-light" type="submit" name="action">Find Similarities
</button>
<!--  <div class="results">
 </div> -->
 <div class="container">
 <!-- <table class="Patients">
    <tr>
        <th>No.</th>
        <th>Patient</th>
        <th>Similar Mutations</th>
    </tr>
</table> -->
<table class="patinfo centered">
        <thead>
          <tr>
              <th data-field="id">No.</th>
              <th data-field="name">Patient</th>
              <th data-field="price">Mutations</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>0</td>
            <td>Sample Patient</td>
            <td>5</td>
          </tr>

        </tbody>
      </table>

</div>






</html>

